.stripe:not([is-last='true']) {
    /* position: absolute; */
    /* border-left: 0.2em solid red; */
    width: 0.15em;
    background-color: gray;
    margin: 0 auto;
    min-height: calc(100% - 0.75rem);
}

.cell-icon {
    margin-top: 0.35rem;
    border: 0.2em solid white;
    --slds-c-icon-radius-border: 1rem;
}

.container {
    height: 100%;
    -moz-box-sizing: border-box;
    margin: 0 0.7em 0 -0.18em;
}

.text-divider {
    display: inline;
    margin: 0 0.8rem;
}

.text-divider::after {
    content: '|';
}

.date-font-hook {
    --lwc-fontSize2: 1em;
    --slds-g-color-neutral-base-30: black;
}

.clamp-override {
    white-space: revert;
}