.stripe:not([is-last='true']) {
    width: 1px;
    background-color: gray;
    margin: 0.1rem auto;
    min-height: calc(100% - 0.2rem);
}

.cell-icon {
    margin-top: 0.7rem;
    --slds-c-icon-radius-border: 20rem;
}

.container {
    height: 100%;
    -moz-box-sizing: border-box;
    margin: 0px 0.7em 0px 0px;
}

.text-divider {
    display: inline;
    margin: 0 0.8rem;
}

.text-divider::after {
    content: '|';
}

.clamp-override {
    white-space: revert;
}

.header-text-wrapper {
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
    max-width: 100%;
}
