.slds-accordion__section {
    border-bottom: 1px solid #767676;
    margin: 0.813rem 1.2rem 1rem 1.2rem;
    --slds-c-accordion-section-spacing-blockend: 0;
    --slds-c-accordion-section-spacing-blockstart: 0;
    --slds-c-accordion-section-spacing-inlineend: 0;
    --slds-c-accordion-section-spacing-inlinestart: 0;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 0.7em;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.connection-line:not([expanded='false']) {
    width: 1px;
    height: calc(100% + 0.1rem);
    background-color: grey;
    position: absolute;
    top: 100%;
    z-index: 0;
    max-height: 1.75rem;
    margin-top: 0.1rem;
}

.custom-button {
    padding: 0.5rem 0;
    margin-bottom: 0.25rem;
}

.custom-header {
    justify-content: center;
    vertical-align: middle;
}

.icon svg path {
    d: path(
        'M21.6466 16.4767L16.3389 21.8459C16.1543 22.0305 15.8466 22.0305 15.662 21.8459L10.3543 16.4767C10.1697 16.2921 10.1697 15.9844 10.3543 15.7998L11.0312 15.1228C11.2158 14.9382 11.5235 14.9382 11.7081 15.1228L15.662 19.1382C15.8466 19.3228 16.1543 19.3228 16.3389 19.1382L20.2927 15.1536C20.4774 14.969 20.7851 14.969 20.9697 15.1536L21.6466 15.8305C21.8004 16.0151 21.8004 16.2921 21.6466 16.4767Z'
    );
}

.icon svg[expanded='true'] path {
    d: path(
        'M20.6466 18.5233L16 13.1541L11.3534 18.5233C11.1688 18.7079 10.8611 18.7079 10.6765 18.5233L10 17.8464C9.81539 17.6618 9.81539 17.3541 10 17.1695L15.3236 11.8464C15.5082 11.6618 15.8159 11.6618 16.0005 11.8464L21.3241 17.1695C21.5088 17.3541 21.5088 17.6618 21.3241 17.8464L20.6466 18.5233Z'
    );
}

.viewmore-button {
    margin-left: 2rem;
    margin-bottom: 1rem;
}
